.button {
  font-family: 'PT Sans', Helvetica, sans-serif;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  background-color: #07d79c;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    border: none;
    background-color: #33dcaa;
  }
  &:active {
    border: none;
    background-color: #05c093;
    outline: none;
  }
}